*{
    margin:0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    background-color: #191919;
}

.div1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #E49A5E;
    font-family: 'Allerta Stencil', sans-serif;
}

.log{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: #E49A5E;
    font-family: 'Allerta Stencil', sans-serif;
}