body
{
    background-color: white;
    color: #00f;
}

p
{
    color: blueviolet;
}

h1
{
    color: rgb(87, 7, 34);
    font-size: 60px;
    font-family: fantasy;
    text-align: center;
}

h2
{
    color: brown;
    text-align: right;
    font-size: 25px;
}

a
{
    color: green;
    text-decoration: none;
    font-size: 30px;
}